.order-list{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: RGBA(255,255,255,0.95);
	z-index: 5;
	display: none;
	list-style: none;
}

.ui.basic.modal.order-list{
	//background-color:white;
	color:black;
}

.order-list ul{
	list-style-type: none;
	line-height:  2em;
	margin-bottom: 1em; 
}

.ui.dimmer{
	background-color:white;
}

